.wn_entry {
    font-family: Georgia, serif;
    font-size: 12pt;
}

.wn_entry .lemma {
    font-weight: bold;
}
.wn_entry .sensenum {
    font-weight: bold;
}
.wn_entry .pos {
    text-transform: uppercase;
    font-size: 10pt;
}
.wn_entry .definition {
    font-style: italic;
}